
.main {
  height: 100vh;
  width: calc( 100vw - 300px );
  float: left;


   .header {
     height: 15%;
     border: 1px solid #eee;

     .header__name {
       font-size: 20px;
       color: #333333;
       margin: 35px 0 15px;
       padding-left: 40px;
       float: left;
     }

     .header__members {
       font-size: 12px;
       color: #999999;
       clear: both;
       padding-left: 40px;
     }

     a.group-edit {
     text-decoration: none;
     color: #38AEF0;
     font-size: 15px;
     padding: 10px 20px;
     margin: 28px 20px 0;
     border: 1px solid #38AEF0;
     float: right;
     font-weight: bold;
     }
   }



   .body {
     background-color: white;
     height: calc(100vh - 15% - 90px);
     overflow-y: scroll;



     .body-content {
       padding-top: 26px;
       padding-left: 40px;

       .body__name{
         font-size: 16px;
         font-weight: bold;
         color: #434A54;
         float: left;

       }
       .body__time {
         font-size: 12px;
         color: #999999;
         line-height: 16px;
         float: left;
         padding: 0 10px 10px;

       }
       .body__message {
         font-size: 14px;
         color: #434A54;
         clear: both;
         padding-top: 10px;
         padding-bottom: 40px;
       }
     }
   }

       .footer {
         height: 90px;
         width: 100%;
         background-color: #B8C3C7;

         .footer__form{
          margin: 0 40px;

          .type {
             height: 50px;
             margin: 20px 0;
             width: calc(100% - 130px);
             border: none;
             padding-left: 10px;
           }

           .submit {
             background-color: #38AEF0;
             height: 50px;
             width: 120px;
             margin: 20px 0 20px 25px;
             position: absolute;
             border: none;
           }
         }
       }
}
