.chat-side
  .side__user
    .side__user__content
      .side__user-name= current_user.name
      %a.side__user-new-group{href: "https://www.google.co.jp/"}
        %i.fa.fa-pencil-square-o
      %a.side__user-edit-user{href: "/users/:id/edit"}
        %i.fa.fa-cog

  .side__groups
    .side__groups-content
      .side__group-name グループ名
      .side__group-message メッセージ
    .side__groups-content
      .side__group-name wowow
      .side__group-message まだメッセージはありません
    .side__groups-content
      .side__group-name sample
      .side__group-message まだメッセージはありません

.main
  .header
    .header__name Groupname
    %link_to.group-edit{href: " "} Edit
    .header__members Member: Steve cook

  .body
    .body-content
      .body__name Steeve cook
      .body__time 2017/07/04 22:50
      .body__message Beast!
      .body-content


  .footer
    .footer__form
      %input{placeholder: "type a message", name: "text", class: "type"}
      %input{type: "submit", class: "submit", name: "commit", value: "SEND"}


