= render 'sidebar'

.main
  .header
    .header__name Groupname
    .group-edit
      = link_to 'Edit',edit_group_path(:id)

    .header__members Member: Steve cook

  .body
    .body-content
      .body__name Steeve cook
      .body__time 2017/07/04 22:50
      .body__message Beast!
      .body-content


  .footer
    .footer__form
      %input{placeholder: "type a message", name: "text", class: "type"}
      %input{type: "submit", class: "submit", name: "commit", value: "SEND"}


