.chat-side
  .side__user
    .side__user__content
      .side__user-name= current_user.name
      %a.side__user-new-group
        = link_to new_group_path do
          %i.fa.fa-pencil-square-o
      %a.side__user-edit-user
        = link_to edit_user_path(current_user) do
          %i.fa.fa-cog

  .side__groups
    - current_user.groups.each do |group|
      .side__groups-content
        .side__group-name
          = group.name
        .side__group-message 
          メッセージ

.main
  .header
    .header__name Groupname
    %link_to.group-edit{href: " "} Edit
    .header__members Member: Steve cook

  .body
    .body-content
      .body__name Steeve cook
      .body__time 2017/07/04 22:50
      .body__message Beast!
      .body-content


  .footer
    .footer__form
      %input{placeholder: "type a message", name: "text", class: "type"}
      %input{type: "submit", class: "submit", name: "commit", value: "SEND"}


