@import "./variables";

.main {
  height: 100vh;
  width: calc( 100vw - 300px );
  float: left;


   .header {
     height: 15%;
     border: 1px solid #eeeeee;

     .header__name {
       font-size: 20px;
       color: #333333;
       margin: 35px 0 15px;
       padding-left: 40px;
       float: left;
     }

     .header__members {
       font-size: 12px;
       color: $member-time;
       clear: both;
       padding-left: 40px;
     }

     .group_members__list{
     color: #999;
     font-size: 12px;
     margin: 0 40px;
     }

     .group-edit {
     text-decoration: none;
     color: $back-blue;
     font-size: 15px;
     padding: 10px 20px;
     margin: 28px 20px 0;
     border: 1px solid $back-blue;
     float: right;
     font-weight: bold;
     }
   }



   .body {
     background-color: white;
     height: calc(100vh - 15% - 90px);
     overflow-y: scroll;



     .body-content {
       padding-top: 26px;
       padding-left: 40px;

       .body-content__clearfix{
        padding: 20px 0;
       }

         .body__name{
         font-size: 16px;
         font-weight: bold;
         color: $body-text;
         float: left;
         }
         .body__time {
         font-size: 12px;
         color: $member-time;
         line-height: 16px;
         float: left;
         padding: 0 10px 10px;

         }
         .body__message {
         font-size: 14px;
         color: $body-text;
         clear: both;
         }
       }
   }

       .footer {
         height: 90px;
         width: 100%;
         background-color: #B8C3C7;

         .footer__form{
          margin: 0 40px;
          position: relative;
           .footer__chat__footer-body{
            position: relative;
           }
             .message {
              height: 50px;
              margin: 20px 0;
              width: calc(100% - 130px);
              border: none;
              padding-left: 10px;
             }

           .chat-file {
             color: $text-white;
             height: 50px;
             width: 40px;
             margin: 32px 130px 20px 0;
             position: absolute;
             top: 0;
             right: 0;
             }

             .submit {
             color: #fff;
             width: 100px;
             height: 50px;
             text-align: center;
             background-color: #38AEF0;
             margin: 20px 0;
             position: absolute;
             top: 0;
             right: 0;
             border: none;
             }
             .fa{
              color: #fff;
             }
             .image {
             position: absolute;
             top: 15px;
             left: 15px;
             display: none;
             }
          }
        }
}
