 @import "./variables";

.top {
   width: 100%;
   height: 25px;
   background-color: $back-blue;

   .top-message {
     line-height: 100%;
     color: white;
     text-align: center;
     font-size: 15px;
     padding-top: 5px;
   }
 }



